* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--bg-color);
}

/* shared style */
:root {
  --bg-color: rgba(26, 11, 46, 1);
  --main-gradient: linear-gradient(47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1));
}

.flex {
  display: flex;
}

.btn-1 {
  border-radius: 10000px;
  background: var(--main-gradient);
  border: none;
  padding: 12px 16px;
  color: white;
}
.hide {
  display: none;
}
.hr {
  border-bottom: 1px solid rgba(65, 37, 103, 1);
}

/* navbar style */
header {
  background-color: var(--bg-color);
}
.navbar-container {
  padding: 30px 0;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav-logo>img {
  width: 219px;
  height: 32px;
}
.nav-list {
  list-style: none;
  margin-left: 32px;
}

.nav-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: white;
}







/* Mobile Responsive */
@media screen and (max-width:576px) {
  .navbar-container {
    padding: 16px 20px;
  }
  .nav-logo>img {
  width: 137px;
  height: 20px;
}
  .hide {
    display: block;
  }
  .navbar-links, .navbar-button {
    display: none;
  }
}
